<h1><%= @building.name %></h1>

<h3>Country: <%= @building.country %></h3>

<h4>Address: <%= @building.address %></h4>

<h4>Rent Per Floor: <%= @building.rent_per_floor %></h4>

<h4>Number of Floors: <%= @building.number_of_floors %></h4>

